body {
    font-family: Arial, sans-serif;
    color: darkblue;
}

h1 {
    font-size: 2em;
    text-align: center;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 20px;
}

#banner {
  width: 100%;
  background-image: url(images/landscape.jpeg);
  height: 250px;
  background-color: purple;
  background-position: center;
  position: sticky;
  top: 0;
  z-index: 10;
}
