body {
    font-family: Arial, sans-serif;
    color: darkblue;
}

h1 {
    font-size: 2em;
    text-align: center;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 20px;
}

div.background-image {
    position: fixed;
    /* background-image: url('images/landscape.jpeg'); */
    width: 100%;
    height: 25%;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
}

div.background-image img {
    position: sticky;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
