body {
    background-color: red;
    font-family: Arial, sans-serif;
    color: darkblue;
}

h1 {
    font-size: 2em;
    text-align: center;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    margin: 20px;
}

div.background-image {
    position: fixed;
    background-image: url('images/landscape.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
